# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/


# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


public/gnr-img.png
public/growth-img.png
public/inventory-management-dashboard-interface.jpg
public/main-product.jpg
public/modern-fashion-ecommerce.png
public/placeholder-logo.png
public/placeholder-logo.svg
public/placeholder-user.jpg
public/placeholder.jpg
public/placeholder.svg
public/polo-product.png
public/prod.png
public/review.jpg
public/banner.jpg
public/beauty-cosmetics-online-store.jpg
public/cart-add.jpg
public/ctr.jpg
public/electronics-gadgets-online-store.jpg
public/images/
